
body {
  padding: 1%;
  height: 100%;
}

.left {
  height: 25%;
}

#col3 {
  margin: 0% 0% 0% 1%;
  border-width:1px;
  padding-bottom: 400px;
  border-style: dashed;
  border-color: mediumblue;

}

#col1 {
  padding-bottom: 303px;
}

#footer {
  margin: 1% 0% 0% 1%;
  padding-bottom: 20px;
  height: 50px;
  border-top: 2px solid black;
  border-bottom: 1px solid black;
}